<div class="list-view-container">
    <empty v-if="isEmpty"></empty>
    <div v-for="item in items" class="list-view-item">
        <div style="overflow: hidden; height: 0; width: 0;"></div> <!--disable margin collapsing-->
        <item :list-view-index="item.index" :list-view-data="item.data" v-if="!item.placeholder"></item>
        <div :style="{height: item.placeholder.height + 'px'}" v-if="item.placeholder"></div>
        <div style="overflow: hidden; height: 0; width: 0;"></div> <!--disable margin collapsing-->
    </div>
    <loading v-if="isLoading"></loading>
    <no-more v-if="noMore && !isEmpty"></no-more>
</div>
